*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    /* border: 3px solid red; */
}

body{
    background: linear-gradient(120deg, #b1249e, #1d68b3);
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    min-width: 540px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button{
    margin: 10px 10px;
    justify-content: space-between;
    border-radius: 40%;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

button:hover{
    background-color: rgba(255, 255, 255, 0.9);
}

.span{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0 , 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.current-operand{
    color: #fff;
    font-size: 2.5rem;
}